<h1>Cookbook</h1>

<a class="btn btn-default" href="/recipes/new">Create New Recipe</a>

<% @recipes.each do |recipe| %>
  <h2><%= recipe.id %></h2> 
  <h2><%= recipe.title %></h2> 

  <h3><%= recipe.chef %></h3>
  <h3><%= recipe.ingredients %></h3>
  <h3><%= recipe.directions %></h3> 
  <%= link_to "Show", "/recipes/#{recipe.id}", class: "btn btn-default" %>
  <hr>

<% end %>