<h1>First Name: <%= @first_name %></h1>
<h1>Last Name: <%= @last_name %></h1>
<h1>Email: <%= @email %></h1>
<h1>Phone Number: <%= @phone %></h1>
<h1>Job Title: <%= @job_title %></h1>
<h1>Salary: <%= @salary %></h1>
<h1>Gender: <%= @gender %></h1>
