<h1>Employee</h1>

<table>
  <tr>
    <th>
      <h3>First Name</h3>
    </th>
    <th>
      <h3>Last Name</h3>
    </th>
    <th>
      <h3>Email</h3>
    </th>
    <th>
      <h3>Phone</h3>
    </th>
    <th>
      <h3>Job Title</h3>
    </th>
    <th>
      <h3>Salary</h3>
    </th>
    <th>
      <h3>Gender</h3>
    </th>  
  </tr>
    <tr>
    <td>
      <h3><%= @employee.first_name %></h3>
    </td>
    <td>
      <h3><%= @employee.last_name %></h3>
    </td>
    <td>
      <h3><%= @employee.email %></h3>
    </td>
    <td>
      <h3><%= @employee.phone_number %></h3>
    </td>
    <td>
      <h3><%= @employee.job_title %></h3>
    </td>
    <td>
      <h3><%= @employee.salary %></h3>
    </td>
    <td>
      <h3><%= @employee.gender %></h3>
    </td>  
  </tr>
</table>