<h1>Employee</h1>

<%= link_to "Add new employee", "/employees/new", class: "btn btn-default" %>

<table>
   <tr>
    <th>
      <h3>First Name</h3>
    </th>
    <th>
      <h3>Last Name</h3>
    </th>
    <th>
      <h3>Email</h3>
    </th>
    <th>
      <h3>Phone</h3>
    </th>
    <th>
      <h3>Job Title</h3>
    </th>
    <th>
      <h3>Salary</h3>
    </th>
    <th>
      <h3>Gender</h3>
    </th> 
    <th>
      <h3>View</h3>
    </th>  
  </tr>
<% @employees.each do |employee| %>
    <tr>
    <td>
      <h4><%= employee.first_name %></h4>
    </td>
    <td>
      <h4><%= employee.last_name %></h4>
    </td>
    <td>
      <h4><%= employee.email %></h4>
    </td>
    <td>
      <h4><%= employee.phone_number %></h4>
    </td>
    <td>
      <h4><%= employee.job_title %></h4>
    </td>
    <td>
      <h4><%= employee.salary %></h4>
    </td>
    <td>
      <h4><%= employee.gender %></h4>
    </td>  
    <td>
      <%= link_to "View", "/employees/#{employee.id}", class: "btn btn-default" %>
    </td> 
  </tr>
  <br>
<% end %>
</table>