<h1>First Name: <%= @employee.first_name %></h1>
<h1>Last Name: <%= @employee.last_name %></h1>
<h1>Email: <%= @employee.email %></h1>
<h1>Phone Number: <%= @employee.phone_number %></h1>
<h1>Job Title: <%= @employee.job_title %></h1>
<h1>Salary: <%= @employee.salary %></h1>
<h1>Gender: <%= @employee.gender %></h1>
